{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="image-section">
        <div class="image-content">
            <h2>Selected Works</h2>
            <p>Andrew UI</p>
            <a href="#" class="join-btn">Join Us</a>
        </div>
    </div>
    <div class="form-section">
        <div class="login-form">
            <h2>Hi Developer</h2>
            <p>Welcome to world</p>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="username" required>
                </div>
                
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                
                <div class="form-group text-right">
                    <a href="#" class="forgot-password">Forgot password?</a>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <p class="login-with">or login with</p>
            <button class="btn btn-secondary google-login">Login with Google</button>
            
            <div class="social-links">
                <p>Don’t have an account? <a href="{% url 'signup' %}">Sign up</a></p>
                <div class="icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
